    body 
    {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: #121212;
    color: #ffffff;
    margin: 0;
    }
    /* 헤더 */
    #header 
    {
    background: #1e1e1e;
    padding: 20px 40px;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', arial, sans-serif;;
    }
    header h1 
    {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    }
    header img{
        height: 48px;
        width: 48px;
    }
    .iText{
        margin: -2px 0 0;
        background: #fff;
        width: 80px;
        padding: 2px 5px;
        border: 1px solid #bbb;
    }
    input[type="text"], input[type="password"]{
        padding-block: 1px;
        padding-inline: 2px;
    }
    .hLine .a {
        margin: 0 7px 0 5px;
        color: #fff;
        text-decoration: none;
    }
    button{
        display: inline-block;
        position:relative;
        margin: -2px 0 0 4px;
        padding: 2px 7px;
        border: 1px solid #ccc;
        border-radius: 7px;
        color:#555;
        font-size: 11px;
        cursor: pointer;
        white-space: nowrap;
        line-height: normal;
        text-indent: 0px;
        text-align: center;
        box-sizing: border-box;
        padding-block: 1px;
        padding-inline: 6px;
        
    }
    /* 네비게이션 */
    nav 
    {
    background: #1e1e1e;
    padding: 15px 40px;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    gap: 30px;
    }

    nav a 
    {
    color: #9ca3af;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    }

    nav a.active 
    {
    color: #ffffff;
    border-bottom-color: #3b82f6;
    }

    nav a:hover 
    {
    color: #ffffff;
    }